name: Keep Render Alive

on:
  schedule:
    - cron: '*/10 * * * *'

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Backend
        run: curl https://bolivarpro-backend.onrender.com/api/binance-rate?type=BUY
